# **Data Types and Operators**
**Welcome to this lesson on Data Types and Operators! You'll learn about:**

* **Data Types:**

  Strings, Integers, Floats, Booleans, Lists, Tuples, Sets, Dictionaries

* **Operators:**

 Arithmetic, Assignment, Comparison, Logical, Membership, Identity

* Built-In Functions, Compound Data Structures, Type Conversion

# **Strings:**

In [2]:
#String: Enclosed textual data within quotes
var_1 = 'Hello World!'
var_2 = "Youtube is Google's video streaming platform"

In [3]:
print(var_1)
#Prints the value of variable

Hello World!

In [4]:
print(len(var_1))
#Prints the length of variable

12

In [5]:
#In python, Indexing starts from 0,1,2,3
print(var_1[10])
#prints character at index 10

d

In [6]:

print(var_1[0:5])
#prints character index 0-4 but 5 isn't included

Hello

In [7]:
print(var_1[6:])
#prints character index 6-last index

World!

In [8]:
print(var_1.lower()) #Prints strings in lower case

hello world!

In [9]:
print(var_1.upper()) #Prints strings in upper case

HELLO WORLD!

In [10]:
greeting = 'hello'
name = 'chirag murari'

message_1 = greeting+', '+name+'. Welcome!' #String concatenation
message_2 = '{}, {}. Welcome!'.format(greeting,name)

print(message_1)
print(message_2)

hello, chirag murari. Welcome!
hello, chirag murari. Welcome!

In [12]:
#Variable naming conventions
#Allowed variable names

x=2
y="Hello"
mypython="PythonGuides"
my_python="PythonGuides"
_my_python="PythonGuides"
_mypython="PythonGuides"
MYPYTHON="PythonGuides"
myPython="PythonGuides"
myPython7="PythonGuides"

In [13]:
#Variable name not Allowed

7mypython="PythonGuides"
-mypython="PythonGuides"
myPy@thon="PythonGuides"
my Python="PythonGuides"
for="PythonGuides"

#It shows invalid syntax. 
#It will execute one by one and will show the error

SyntaxError: ignored

In [19]:
#integers and floats
abs(-11) #Returns absolute value of integer data

11

In [15]:
num = 1
num = num+1
num += 1
print(num)

3

In [16]:
round(8.63) # round to nearest integer

9

In [17]:
round(8.63,1) #rounds till first decimal point

8.6

In [18]:
#Comparison Operators
num_1 = 7
num_2 = 5
print(num_1 == num_2)

False